---
import Container from './Container.astro';
import Icon from './Icon.astro';
import PaddingContainer from './PaddingContainer.astro';
import SectionHeader from './SectionHeader.astro';
---

<section id="om">
  <div class="border-b-2 border-b-slate-100"></div>
  <Container>
    <PaddingContainer>
      <div class="flex flex-col gap-16">
        <SectionHeader>Om mig</SectionHeader>
      </div>
      <div class="gap-16 lg:gap-32 grid grid-cols-1 lg:grid-cols-2 mt-12 lg:mt-16">
        <p class="text-3xl font-medium leading-snug">
          Christian — En fullstack udvikler og produkt manager med 8 års erfaring inden for
          webdesign, eCommerce og SaaS. Min passion ligger i at skabe produkter der gør en forskel.
        </p>
        <p class="text-xl leading-relaxed">
          Jeg har den seneste tid arbejdet som Product Manager hos <a
            href="https://sofacompany.com/"
            class="underline">SOFACOMPANY</a
          >, der i midten af Juni 2021 blev opkøbt af LLG, som både ejer og driver brands som ILVA,
          Bolia og Jysk. I min tid hos SOFACOMPANY har jeg bl.a. været med til at lancere en ny
          storefront og været projektleder på en 3D konfigurator, der gør det muligt for kunderne at
          se og designe deres modulsofa før de køber den. Dertil har jeg været med til at
          introducere og drive agil udvikling i et scrum-inspireret frameworket.

          <br />
          <br />

          Før SOFACOMPANY var jeg tech lead og scrum master hos <a
            href="https://schodt.dk/"
            class="underline">SCHØDT</a
          >, hvor jeg var med til at udvikle og lancere <a href="flatr.dk" class="underline"
            >Flatr</a
          > — et ventelistesystem til andelsboligforeninger samt videreudvikling af <a
            href="https://minejendom.dk/"
            class="underline">MinEjendom</a
          >, der er en SaaS platform til administration af andelsboligforeninger.

          <br />
          <br />

          Min første bedriftelse var hos <a href="https://yourlocal.org">YourLocal</a> — en social platform
          og markedsplads for at mindske madspild. Her var jeg med til at udvikle på både backend serveren
          og mobilapplikationen samt udvikling af et administrationspanel. I min tid hos YourLocal blev
          jeg også udlånt en periode til at hjælpe <a
            href="https://luggagehero.com"
            class="underline">LuggageHero</a
          > med at udvikle deres mobilapplikation.
        </p>
      </div>
    </PaddingContainer>
  </Container>
</section>
