---
import Container from './Container.astro';
import { getCollection } from 'astro:content';
import PaddingContainer from './PaddingContainer.astro';
import SectionHeader from './SectionHeader.astro';
const allExperiences = (await getCollection('experience')).sort(
  (a, b) => a.data.sortOrder - b.data.sortOrder
);
---

<section id="erfaring">
  <div class="border-b-2 border-b-slate-100"></div>
  <Container>
    <PaddingContainer>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 lg:gap-32 lg:mt-16 relative">
        <div class="relative">
          <div class="sticky top-8 md:top-16 flex flex-col gap-8">
            <SectionHeader>Erfaring</SectionHeader>
            <div class="border-b-2 border-b-slate-700"></div>
          </div>
        </div>
        <div class="flex flex-col gap-8">
          {
            allExperiences.map((experience) => (
              <div class="flex flex-col border-b border-b-slate-200 last-of-type:border-none pb-8">
                <h3 class="font-medium text-2xl mb-1">{experience.data.title}</h3>
                <p class="text-2xl text-gray-800">{experience.data.company}</p>
                <p class="text-xl mt-3 text-gray-800">{experience.data.period}</p>
              </div>
            ))
          }
        </div>
      </div>
    </PaddingContainer>
  </Container>
</section>
