---
import Container from './Container.astro';
import NarrowContainer from './NarrowContainer.astro';
import PaddingContainer from './PaddingContainer.astro';
---

<div class="bg-blue-50">
  <Container>
    <NarrowContainer>
      <PaddingContainer>
        <h1
          class="text-4xl sm:text-5xl sm:leading-snug font-bold leading-snug md:text-6xl md:leading-snug animate-fade-in-blur opacity-0 origin-bottom"
        >
          Christian Enevoldsen
          <br />
          Fullstack udvikler
        </h1>
      </PaddingContainer>
    </NarrowContainer>
  </Container>
</div>
