---
import Container from './Container.astro';
import NarrowContainer from './NarrowContainer.astro';
import PaddingContainer from './PaddingContainer.astro';
---

<section id="intro">
  <Container>
    <NarrowContainer>
      <PaddingContainer>
        <p class="text-2xl leading-relaxed text-gray-600 animate-fade-in-down opacity-0">
          Senior fullstack udvikler og product manager med 8 års erfaring inden for SaaS og
          eCommerce. <br />
          <br />
          Senest har jeg været hos en af Danmarks stærkeste eCommerce brands{' '}
          <a href="https://sofacompany.com" class="font-bold" target="_blank" rel="noreferrer">
            SOFACOMPANY
          </a>{' '}
          og tidligere hos
          <a href="https://schodt.dk" class="font-bold" target="_blank" rel="noreferrer">
            {' '}
            SCHØDT A/S
          </a>{' '}
          og{' '}
          <a href="https://yourlocal.org" class="font-bold" target="_blank" rel="noreferrer">
            YourLocal
          </a>
          .
        </p>
      </PaddingContainer>
    </NarrowContainer>
  </Container>
</section>
