---
import Container from './Container.astro';
import Icon from './Icon.astro';
import { getCollection } from 'astro:content';
import PaddingContainer from './PaddingContainer.astro';
const allWork = await getCollection('work');
---

<section id="work">
  <Container>
    <PaddingContainer>
      <h2 class="font-medium text-5xl">Det har jeg arbedet med</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-16 mt-16">
        {
          allWork.map((work) => (
            <a class="group cursor-pointer space-y-8" href={`/work/${work.slug}`}>
              <div class="rounded-[1rem] overflow-hidden">
                <img src={work.data.featuredImage} alt="" class="object-cover w-full" />
              </div>
              <div class="flex gap-2 items-center group">
                <div class="text-lg font-medium transition-transform duration-300 group-hover:-translate-x-0.5">
                  {work.data.title}
                </div>
                <Icon
                  name="arrow-right"
                  class="w-6 h-6 transition-transform duration-300 group-hover:translate-x-1"
                />
              </div>
              <span class="text-base font-normal text-gray-700">{work.data.description}</span>
            </a>
          ))
        }
      </div>
    </PaddingContainer>
  </Container>
</section>
