---
import Container from './Container.astro';
import Icon from './Icon.astro';
import { getCollection } from 'astro:content';
import PaddingContainer from './PaddingContainer.astro';
import SectionHeader from './SectionHeader.astro';
const allWork = await getCollection('work');
---

<section id="arbejde">
  <Container>
    <PaddingContainer>
      <div class="flex flex-col gap-16">
        <div class="border-b-2 border-b-slate-200"></div>
        <SectionHeader>Det har jeg arbedet med</SectionHeader>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 lg:gap-16 mt-24">
        {
          allWork.map((work) => (
            <a class="group cursor-pointer space-y-8" href={`/work/${work.slug}`}>
              <div class="rounded-[1rem] overflow-hidden">
                <img
                  src={work.data.featuredImage}
                  alt=""
                  class="object-cover w-full transtion-transform duration-200 group-hover:rotate-2 group-hover:scale-105 cursor-pointer"
                />
              </div>
              <div class="flex gap-2 items-center group">
                <div class="text-xl font-medium transition-transform duration-300 group-hover:-translate-x-0.5">
                  {work.data.title}
                </div>
                <Icon
                  name="arrow-right"
                  class="w-6 h-6 transition-transform duration-300 group-hover:translate-x-1"
                />
              </div>
              <span class="text-lg font-normal text-gray-700">{work.data.description}</span>
            </a>
          ))
        }
      </div>
    </PaddingContainer>
  </Container>
</section>
