---
import Nav from '../components/Nav';
const { title } = Astro.props;
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Dette er en side om mig" />
		<meta title={title} />
	</head>
	<body class="">
		<main class="h-screen relative">
			<Nav client:load />
			<slot />
		</main>
	</body>
</html>
